.a1{
    color:red;
    font-style: oblique;
}
.a2{
    color:darkkhaki;
    font-style: initial;
    font-variant: small-caps;
}
.a3{
    color: lawngreen;
    font-style: normal;
    font-variant: small-caps;
}