a{
    color: slateblue;
}
a:link{
    color: red;
    text-decoration: underline;
    display: inline-block;
}
a:hover{
    color: green;
    background-color: lightblue;
    font-size: large;
    text-decoration: underline;

}
a:active{
    color: blue;
}