table,td,th{
    border: 2px solid green;
}
th{
    height: 50%;
}
th{
    text-align: center;
    vertical-align: 20px;
}
td{
    height: 40px;
    vertical-align: bottom;
    text-align: center;
    padding: 1px;
    margin: 5px;
}